.list-wrapper {
    display: flex;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
}

.list {
    width: 45%;
}

.list-wrapper h3 {
    text-align: center;
}

.list-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.list-item {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.list-item:hover {
    background-color: #f0f0f0;
}

.list-item.selected {
    background-color: #e0e0e0;
}
